@{
    Layout = "~/Views/_layout.cshtml";
    @inherits System.Web.Mvc.WebViewPage
}
 
<section class="jumbotron well-back" style="margin-top: 50px">
    <div class="container">
        <h3>عفوا، لا تملك الصلاحيات الكافية</h3>
    </div>
</section>

<style>
    .form-signin {
        max-width: 330px;
    }
</style>

<!--------------------------------------User panel---------------------------------------------------->


<div class="container" >
    <div class="row">
        <div class="col-md-4-offset-3">
            <div class="alert alert-danger">
                <strong>من فضلك قم بتسجيل الدخول</strong>
            </div>
        </div>
    </div>
</div>


