USE master;
GO
IF DB_ID (N'CMS') IS NOT NULL
DROP DATABASE CMS;
GO
CREATE DATABASE CMS
COLLATE Arabic_CI_AI;
GO

USE [CMS]
GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [ENTITY_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL,
 CONSTRAINT [PK_ENTITY_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [ADDING_ENTITY_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL,
 CONSTRAINT [PK_ADDING_ENTITY_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [DOCUMENT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL,
 CONSTRAINT [PK_DOCUMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [TOPIC_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL,
 CONSTRAINT [PK_TOPIC_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [C_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL,
 CONSTRAINT [PK_C_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [IMPORTANCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL,
	[RANK] [int] NULL,
 CONSTRAINT [PK_IMPORTANCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO



CREATE TABLE [CORRESPONDENCE_IN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CORRESPONDENCE_NO] [nvarchar](100) NULL,
	[C_TYPE_ID] [int] NULL,
	[TOPIC][nvarchar](50) NULL,
	[TOPIC_TYPE_ID] [int] NULL,
	[CREATED_DATE][datetime] NULL,
	[STATUS_ID] [int] NULL,
	[IMPORTANCE_ID] [int] NULL,
	[INCOMING_DATE] [datetime] NULL,
	[SENDING_ENTITY_NAME] [nvarchar](250) NULL,
	[SENDING_ENTITY_TYPE_ID] int NULL,
	[TO_OFFICE_RECEIPT_DATE] [datetime] NULL,
	[TO_OFFICE_RECEIPT_NUMBER] [int] NULL,
	[ADDING_ENTITY_TYPE_ID] [int] NULL, 
	[MAIN_ENTITY_NAME] [nvarchar](250) NULL,
	[COMPLAINT_OWNER_NAME] [nvarchar](250) NULL,
	[COMPLAINT_OWNER_PHONE][nvarchar](50) NULL,
	[COMPLAINT_OWNER_ADDRESS][nvarchar](MAX) NULL,
	[SAVED_DOCUMENT_TYPE_ID][int] NULL,
	[NO_OF_ATTACHMENTS] [int] NULL,
	[INBOUND_DOC_TYPE_ID] [int] NULL,
	[FOLDER_NUMBER][int] NULL,
	[FOLDER_NAME][nvarchar](50) NULL, 
	[CLOSET][nvarchar](250) NULL,
	[SHELF][nvarchar](250) NULL,
	[NOTES][nvarchar](MAX) NULL, 
	[RELATED_CORRESPONDENCE_ID] [int] NULL,
	
 CONSTRAINT [PK_CORRESPONDENCE_IN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [CORRESPONDENCE_IN]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_IN_SENDING_ENTITY_TYPE] FOREIGN KEY([SENDING_ENTITY_TYPE_ID])
REFERENCES [ENTITY_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_IN] CHECK CONSTRAINT [FK_CORRESPONDENCE_IN_SENDING_ENTITY_TYPE]
GO

ALTER TABLE [CORRESPONDENCE_IN]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_IN_ADDING_ENTITY_TYPE] FOREIGN KEY([ADDING_ENTITY_TYPE_ID])
REFERENCES [ADDING_ENTITY_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_IN] CHECK CONSTRAINT [FK_CORRESPONDENCE_IN_ADDING_ENTITY_TYPE]
GO

ALTER TABLE [CORRESPONDENCE_IN]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_IN_DOCUMENT_TYPE] FOREIGN KEY([INBOUND_DOC_TYPE_ID])
REFERENCES [DOCUMENT_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_IN] CHECK CONSTRAINT [FK_CORRESPONDENCE_IN_DOCUMENT_TYPE]
GO

ALTER TABLE [CORRESPONDENCE_IN]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_IN_TOPIC_TYPE] FOREIGN KEY([TOPIC_TYPE_ID])
REFERENCES [TOPIC_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_IN] CHECK CONSTRAINT [FK_CORRESPONDENCE_IN_TOPIC_TYPE]
GO

ALTER TABLE [CORRESPONDENCE_IN]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_IN_STATUS] FOREIGN KEY([STATUS_ID])
REFERENCES [STATUS] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_IN] CHECK CONSTRAINT [FK_CORRESPONDENCE_IN_STATUS]
GO

ALTER TABLE [CORRESPONDENCE_IN]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_IN_IMPORTANCE] FOREIGN KEY([IMPORTANCE_ID])
REFERENCES [IMPORTANCE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_IN] CHECK CONSTRAINT [FK_CORRESPONDENCE_IN_IMPORTANCE]
GO

ALTER TABLE [CORRESPONDENCE_IN]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_IN_SAVED_DOCUMENT_TYPE] FOREIGN KEY([SAVED_DOCUMENT_TYPE_ID])
REFERENCES [DOCUMENT_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_IN] CHECK CONSTRAINT [FK_CORRESPONDENCE_IN_SAVED_DOCUMENT_TYPE]
GO

ALTER TABLE [CORRESPONDENCE_IN]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_IN_C_TYPE] FOREIGN KEY([C_TYPE_ID])
REFERENCES [C_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_IN] CHECK CONSTRAINT [FK_CORRESPONDENCE_IN_C_TYPE]
GO
 
 
 CREATE TABLE [COMPLAINT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL, 
 CONSTRAINT [PK_COMPLAINT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

 CREATE TABLE [REPLY_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_EN] [nvarchar](150) NULL,
	[NAME_AR] [nvarchar](150) NULL, 
 CONSTRAINT [PK_REPLY_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [CORRESPONDENCE_OUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SENT_TO_ENTITY_NAME][nvarchar](250) NULL,
	[OFFICE_ORGANIZATION][nvarchar](250) NULL,
	[FROM_OFFICE_SENT_DATE] [datetime] NULL,
	[FROM_OFFICE_SENT_NUMBER] [int] NULL,
	[DOCUMENT_TYPE_ID][int] NULL,
	[NO_OF_ATTACHMENTS] [int] NULL,
	[ARCHIVE_OUT_NUMBER][int] NULL,
	[ARCHIVE_OUT_NUMBER_DATE][datetime] NULL,
	[RECIEVER_NAME][nvarchar](250) NULL,
	[RECIEPT_DATE][datetime] NULL,
	[FOLLOWUP_ENTITY_TYPE_ID] int NULL,
	[REPLIES][nvarchar](250) NULL,
	[REPLY_DATE][datetime] NULL,
	[REPLY_DURATION] [int] NULL,
	[COMPLAINT_TYPE_ID][int] NULL,
	[COMPLAINT_NAME] [nvarchar](250) NULL,
	[REPLY_TYPE_ID]	 [int] NULL,
	[NOTES][nvarchar](MAX) NULL,
	[RELATED_CORRESPONDENCE_ID] [int] NULL,
 CONSTRAINT [PK_CORRESPONDENCE_OUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [CORRESPONDENCE_OUT]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_OUT_DOCUMENT_TYPE] FOREIGN KEY([DOCUMENT_TYPE_ID])
REFERENCES [DOCUMENT_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_OUT] CHECK CONSTRAINT [FK_CORRESPONDENCE_OUT_DOCUMENT_TYPE]
GO
 
ALTER TABLE [CORRESPONDENCE_OUT]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_OUT_FOLLOWUP_ENTITY] FOREIGN KEY([FOLLOWUP_ENTITY_TYPE_ID])
REFERENCES [ENTITY_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_OUT] CHECK CONSTRAINT [FK_CORRESPONDENCE_OUT_FOLLOWUP_ENTITY]
GO
 
 ALTER TABLE [CORRESPONDENCE_OUT]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_OUT_COMPLAINT_TYPE] FOREIGN KEY([COMPLAINT_TYPE_ID])
REFERENCES [COMPLAINT_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_OUT] CHECK CONSTRAINT [FK_CORRESPONDENCE_OUT_COMPLAINT_TYPE]
GO

 ALTER TABLE [CORRESPONDENCE_OUT]  WITH CHECK ADD  CONSTRAINT [FK_CORRESPONDENCE_OUT_REPLY_TYPE] FOREIGN KEY([REPLY_TYPE_ID])
REFERENCES [REPLY_TYPE] ([ID])
GO

ALTER TABLE [CORRESPONDENCE_OUT] CHECK CONSTRAINT [FK_CORRESPONDENCE_OUT_REPLY_TYPE]
GO

CREATE TABLE [HOMEPAGE_CONTENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HTML_CONTENT]NVARCHAR(MAX)NULL,
 CONSTRAINT [PK_HOMEPAGE_CONTENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO