USE [CMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE CORRESPONDENCE_IN
ADD IS_DELETED bit DEFAULT 0 NOT NULL;

ALTER TABLE CORRESPONDENCE_OUT
ADD IS_DELETED bit DEFAULT 0 NOT NULL;