USE [CMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE CORRESPONDENCE_IN
ADD RELATED_TYPE bit DEFAULT NULL;

ALTER TABLE CORRESPONDENCE_OUT
ADD RELATED_TYPE bit DEFAULT  NULL;