@{
    Layout = "~/Views/_layout.cshtml";
    @inherits System.Web.Mvc.WebViewPage
}

<!---------------------------------------------------------------------------------------->
<script src="~/Components/CorrespondenceIN/CorrespondenceINController.js"></script>
<!---------------------------------------------------------------------------------------->
<section id="aboutproj" class="jumbotron  short well-back" >
    <div class="container">
        <h3> المكاتبات الواردة </h3>
    </div>
</section>

<section class="container no-padding pagestart" data-ng-controller="CorrespondenceINController">
    <input type="hidden" value="index" id="token" />
        <div class="row" ng-show="model.showMessage">
         <div class="col-md-12">
            <div class="alert alert-success">
                <label  id="msg">تم المسح بنجاح</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href data-toggle="tab" ng-click="TabClick('IN')">المكاتبات الواردة 
                            </a>
                        </li>
                        <li>
                            <a href data-toggle="tab" ng-click="TabClick('OUT')">المكاتبات الصادرة
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            <div class="container-fluid">
                                <div class="col-md-6 text-center">
                                    <a class="btn btn-primary" style="float: right; margin-bottom: 10px; margin-right: -1.5%;" href ng-click="Create()"><span class="fa fa-plus"></span>&ensp;إضافة مكاتبة</a>
                                </div>
                                <div class="col-md-6 text-center">
                                    <a class="btn btn-primary" style="float: left; margin-bottom: 10px; margin-right:10px" href ng-click="SearchCorrespondence()"> بحث <span class="glyphicon glyphicon-search" style="margin-right: 10px"></span></a>
                                    <input type="text" id="search_field" style="float: left; width:25%; margin-bottom: 10px;" class="form-control" ng-model="model.searchKeyword"> 
                                </div>
                                </br>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>رقم المكاتبة</th>
                                            <th> موضوع المكاتبة</th>
                                            <th>تاريخ تصدير المكاتبة للمكتب</th>
                                           <th>حالة المكاتبة</th>
                                            <th>درجة الأهمية</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in model.correspondences">
                                            <td><i class="fa fa-link fa-2x" ng-show="{{item.has_links}}" style="margin-left:10px;"></i>{{item.number}}</td>
                                            <td>{{item.topic}}</td>
                                            <td>{{model.dateFixer(item.date)}}</td>
                                            <td>{{item.status}}</td>
                                            <td>{{item.importance}}</td>
                                            <td>
                                                <button style="float:left;margin-right:2px;margin-left:2px;" class="btn btn-info" ng-click="Open(item.id)"><span class="fa fa-folder-open-o"></span></button>
                                                <button style="float:left;margin-right:2px;margin-left:2px;" class="btn btn-info" ng-click="Update(item.id)"><span class="fa fa-pencil-square"></span></button>
                                                <button style="float:left;margin-right:2px;margin-left:2px;" class="btn btn-info" ng-click="DeleteCorrespondence(item.id)"><span class="fa fa-times"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                              <div align="center">
                                    <pagination total-items="model.tableTotalCount" ng-model="model.tableCurrentPage" rotate="false" boundary-links="true" max-size="10" items-per-page="10" ng-change="SearchCorrespondence()"></pagination>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

