@{
    Layout = "~/Views/_layout.cshtml";
    @inherits System.Web.Mvc.WebViewPage
}

<script src="~/Components/Login/LoginController.js"></script>

<section class="jumbotron well-back">
    <div class="container">
        <h3>دخول</h3>
        <p>يرجى كتابة اسم المستخدم وكلمة المرور </p>
    </div>
</section>

<style>
    .form-signin {
        max-width: 330px;
    }
</style>

<!--------------------------------------User panel---------------------------------------------------->


<div class="container" data-ng-controller="LoginController">
    <div class="row" ng-show="model.flag">
        <div class="col-md-4-offset-3">
            <div class="alert alert-danger">
                <strong>خطأ!من فضلك ادخل اسم المستخدم و كلمة المرور الصحيحة</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form class="form-signin" style="direction: rtl;" name="login_form" id="login_form">
                </br>
            <label for="inputUsername" class="sr-only">اسم المستخدم</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="اسم المستخدم" required ng-model="model.username" autofocus="">
                </br>
            <label for="inputPassword" class="sr-only">كلمة المرور</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="كلمة المرور" required ng-model="model.password">
                </br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login_form.$valid && authenticate()">تسجيل</button>
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>


